.title-h1 {
    color: rgb(58, 49, 49);
  }

.background-carousel {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.background-image.active {
    opacity: 1;
}

.vuLink {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position:relative;
    margin-top: 10px;
    margin-left: 67%;
    width: 30%;
    border-radius: 10px;
}

.vuLogo{
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}


.calendarDays {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;


}
.react-calendar__navigation__prev-button {
    margin: 15px;
    font-size: larger;
    font-weight: 900;
}

.react-calendar__navigation__prev2-button {
    display: none ;
}
.react-calendar__navigation__next-button {
    margin: 15px;
    font-size: larger;
    font-weight: 900;
}
.react-calendar__navigation__next2-button{
    display: none ;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    
}
.react-calendar__viewContainer {
    width: 340px;
}
.react-calendar__month-view__weekdays {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
}
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    font-size: 1.3rem;
}
.react-calendar__tile{
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1px;
}

.react-calendar__tile--active {
    background-color: rgb(61, 209, 113);
    border-radius: 5px;
}

.modal {

  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bookingDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

@media screen and (max-width: 499px) {
    h1 {
        font-size: small;
    }
    .react-calendar__navigation__prev-button {
        margin: 5px;
        font-size: medium;
    }
    .react-calendar__navigation__next-button {
        margin: 5px;
        font-size: medium;
    }
    .react-calendar__viewContainer {
        width: 340px;
    }
    .react-calendar__month-view__weekdays {
        font-size: 0.8rem;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        margin: 5px;
    }
    .react-calendar__month-view__weekdays__weekday abbr {
        text-decoration: none;
        font-size: 1rem;
    }
    .react-calendar__tile{
        font-size: medium;
        font-family: 'Open Sans', sans-serif;
        margin-top: 1px;
    }
    .calendarDays {
        width: 95%;
    }
    .calendarTime {
        width: 95%;
        font-size: 0.7rem;
        margin: 3px;
        padding: 2px;
    }
    .availableTime {
        width: 100%;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 35% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .modal-content h2 {
        font-size: medium;
    }
    .modal-content p {
        font-size: small;
    }
}

@media screen and (max-width:1025px) and (min-width:501px) {
    .availableTime {
        width: 95%;
    }
    .availableTime button {
        font-size: 0.9rem;
        margin: 2px;
        padding: 2px;
    }

    h1 {
        font-size: small;
    }
    .react-calendar__navigation__prev-button {
        margin: 5px;
        font-size: medium;
    }
    .react-calendar__navigation__next-button {
        margin: 5px;
        font-size: medium;
    }
    .react-calendar__viewContainer {
        width: 90%;
    }
    .react-calendar__month-view__weekdays {
        font-size: 0.8rem;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        margin: 5px;
    }
    .react-calendar__month-view__weekdays__weekday abbr {
        text-decoration: none;
        font-size: 1rem;
    }
    .react-calendar__tile{
        font-size: medium;
        font-family: 'Open Sans', sans-serif;
        margin-top: 2px;
    }
    .calendar {
        width: 95%;
    }
    .calendarDays {
        width: 95%;
    }
    .calendarTime {
        width: 95%;
        font-size: 0.7rem;
        margin: 3px;
        padding: 2px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 30% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 60%; 
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .modal-content p {
        font-size: medium;
    }
    .modal-content h2 {
        font-size: large;
    }
}